.VisibilityAnimation--visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 250ms ease-in 200ms; }

.VisibilityAnimation--hidden {
  visibility: hidden;
  opacity: 0; }
