@import 'styles/_globals.sass'

.Designbase
  &__logo
    display: flex
    justify-content: center;
    padding: 10vh 0 8vh
  &__site-container
    padding: 1.5%
  &__site-image
    border-radius: 4px
    box-shadow: 0 42px 34px 0 rgba(27,27,30,0.07), 0 22px 54px -3px rgba(27,27,30,0.62);
  &__description-container
    display: flex
    flex-flow: row wrap
    color: #fff
    margin: 4vh 12% 12vh
    padding-bottom: 20vh
  &__description-col
    flex: 1
    margin-right: 5%
    min-width: 200px
  &__description-buttons
    padding-top: 22px
  &__description-title
    color: $color-font-ondark
    margin-bottom: 12px
