$color-accent: #0b00ef
$color-button-default: #E84A67
$color-border-default: rgba(0, 0, 0, 0.10)

$color-font-basic: #39383C
$color-font-gray: #817f87
$color-font-ondark: #d5d575

$transition-default: all 250ms ease-in-out

$media-mobile: 768px