.Uideo {
  background: url("./assets/bg.jpg");
  padding: 12vh 0 12vh 8%;
  display: flex;
  flex-flow: row wrap;
  color: #fff; }
  @media screen and (max-width: 860px) {
    .Uideo {
      padding: 0; } }
  .Uideo__title {
    color: #fff;
    margin-bottom: 64px;
    margin-left: -4px;
    position: relative; }
    @media screen and (max-width: 860px) {
      .Uideo__title {
        margin-bottom: 32px; } }
    .Uideo__title:before {
      content: '#2';
      position: absolute;
      left: -96px;
      opacity: 0.2; }
      @media screen and (max-width: 1024px) {
        .Uideo__title:before {
          display: none; } }
  .Uideo__left {
    flex: 1 25%;
    padding-bottom: 80px; }
    @media screen and (max-width: 860px) {
      .Uideo__left {
        order: 2;
        flex: 1 auto;
        padding: 0 8% 12vh 8%; } }
  .Uideo__right {
    flex: 1 75%;
    overflow-x: hidden; }
    @media screen and (max-width: 860px) {
      .Uideo__right {
        order: 1;
        flex: 1 auto;
        padding-top: 60px; } }
  .Uideo__right-image {
    transform: translateX(10%);
    max-width: none;
    height: 840px; }
    @media screen and (max-width: 860px) {
      .Uideo__right-image {
        height: auto;
        max-width: 100%;
        transform: none; } }
  .Uideo__text-block {
    margin-top: 24px; }
  .Uideo__text-heading {
    color: #d5d575;
    margin-bottom: 12px;
    opacity: 0.9; }
  .Uideo__buttons {
    margin-top: 72px; }
