.FixedIcons {
  position: fixed;
  bottom: 244px;
  right: 32px;
  display: flex;
  flex-flow: column nowrap; }
  .FixedIcons__icon {
    display: inline-block;
    padding: 4px;
    margin-bottom: 20px; }
  .FixedIcons__email {
    padding: 2px;
    transform: rotate(-90deg);
    position: absolute;
    bottom: -153px;
    right: -76px; }
    .FixedIcons__email:before {
      content: '';
      height: 1px;
      width: 18px;
      position: absolute;
      top: 33px;
      background: #2145FF;
      right: -36px; }
