.FixedIcons {
  position: fixed;
  bottom: 244px;
  right: 32px;
  display: flex;
  flex-flow: column nowrap;
  z-index: 10; }
  @media screen and (max-width: 768px) {
    .FixedIcons {
      right: 5px;
      bottom: 217px; } }
  .FixedIcons__icon {
    display: inline-block;
    padding: 4px;
    margin-bottom: 20px; }
  .FixedIcons__email {
    padding: 2px;
    transform: rotate(90deg);
    position: absolute;
    bottom: -153px;
    right: -76px; }
    .FixedIcons__email:before {
      content: '';
      height: 1px;
      width: 18px;
      position: absolute;
      top: 33px;
      background: #0b00ef;
      left: -36px; }
  .FixedIcons__email-title {
    color: #0b00ef; }
